
 <div class="container">
  <div class="padding_views">
 <div class="row">
   <div class="col-md-6">  <div class="ss"> <span><img src="/assets/images/change-password.jpg" alt="" class="img-fluid"></span>
   </div> </div>
   <div class="col-md-6">
<div class="form-details forget-heght">
   <h6 class="heding_change_pwd">reset your new password below.</h6>
   <form [formGroup]="changePassword" *ngIf="!sAttributes.resetSuccess">
     <input type="password" placeholder="set new password" class="input-fields change_pwd" formControlName="password" [ngClass]="{'is-invalid': sAttributes.resetPasswordubmitted && f.password.errors}" />
     <div *ngIf="sAttributes.resetPasswordubmitted && f.password.errors" class="invalid-feedback">
       <div *ngIf="f.password.errors.required">Password is required</div>
     </div>
     <!-- <label class="input-names">Enter Password</label> -->
     <input type="password" placeholder="Reconfirm password" class="input-fields change_pwd" formControlName="confirmpassword" [ngClass]="{'is-invalid': sAttributes.resetPasswordubmitted && f.confirmpassword.errors}" />
     <div *ngIf="sAttributes.resetPasswordubmitted && f.confirmpassword.errors" class="invalid-feedback">
       <div *ngIf="f.confirmpassword.errors.required">Password is required</div>
       <div *ngIf="f.confirmpassword.errors.mustMatch">Passwords must match </div>

     </div>
     <div class="row">
       <div class="col-md-6 right">
         <button type="button" class="btn-signup cancel" (click)="decline()">Cancel </button>
       </div>
       <div class="col-md-6">
         <button type="submit" class="btn-signup padding_add" (click)="updatePassword()">Update</button>
       </div>
      </div>
     </form>
 </div>
</div>

 </div></div>
 </div>