
<!-- About Us Start -->
<section class="about-us section">
  <div class="container-fluid">
    <div class="row updated-alignment">
      <div class="col-lg-6 col-sm-12 wows fadeInRight" data-wow-delay="0.6s">
        <div class="about-content updated-content">
          <!-- <span class="short_heading">Start</span> -->

          <!-- <button shareButton="facebook">Share</button>
          <button shareButton="twitter">Tweet</button>
          <button shareButton="pinterest">Pin</button> -->
          <h3 class="write-hedsd">Write.</h3>
          <h3 class="write-moress">Write more.</h3>

          <h3 class="updated-bold">Write even more.</h3>
          <p class="updated-conts">
            Write Awayy is the happy place to read, write, tell<br />stories and
            share them. Express your thoughts to<br />the world in a
            creative way, and have fun doing<br />it. You have ideas, we help you
            make them<br />happen.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12 wow fadeInLeft" data-wow-delay="0.8s">
        <div class="about-video">
          <div class="single-video overlay">
            <img src="/assets/images//main-banner77.svg" class="main-img-res" alt="#" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End About Us -->

<!-- Know More Start -->
<section class="know_more section">
  <div class="container-fluid">
    <div class="row updated-alignment mb-4">
   <div class="col-lg-6 wow fadeIn" data-wow-delay="0.8s">
        <div class="book_store book_store_blue d-flex">
          <div class="row book-img-cont">
            <div class="col-md-4 book_store_img">
              <img src="/assets/images/write-away.svg" class="responsive-pencil" alt="" />
            </div>
            <div class="col-md-8 book_store_desc book_store_desc_two">
              <div class="title_books_store d-flex justify-content-between"></div>
              <div class="book_store_heading">
                <h3 class="hd_mrg">Write Awayy!</h3>
              </div>
              <div class="book_store_text responsive-updated">
                <p class="responsive-updated">
                  We create a title and you write a story on it.
                  <span class="p_spaan">Send it to us and we will publish it.</span>
                  <span class="p_spaan12">It's really that simple!</span>
                </p>
                <div class="book_know_btn">
                  <a href="#" target="_blank" class="text-uppercase">KNOW MORE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.8s">
        <div class="book_store book_store_pink d-flex">
          <div class="row book-img-cont">
            <div class="col-md-4 book_store_img">
              <img src="/assets/images/read-away.svg" class="books-index read-awayresponsive" alt="" />
            </div>
            <div class="col-md-8 book_store_desc book_store_desc_two">
              <div class="title_books_store d-flex justify-content-between"></div>
              <div class="book_store_heading">
                <h3 class="hd_mrg">Read Awayy!</h3>
              </div>
              <div class="book_store_text responsive-updated">
                <p class="responsive-updated parah_chk">
                  Read the published stories; your own, and those written by
                  others.
                  <span class="p_spaan2">If you’ve got to write better, you’ve got to read
                    better!</span>
                </p>

                <div class="book_know_btn">
                  <a href="#" target="_blank" class="text-uppercase"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- share away -->
    </div>
    <div class="row updated-alignment">
      <div class="col-lg-7 wow fadeIn" data-wow-delay="0.8s">
        <div class="book_store book_store_pink back_green d-flex">
          <div class="row book-img-cont updated-coming">
            <div class="col-md-4 book_store_img img-share-div">
              <img src="/assets/images/share-away.svg" class="circle-group" alt="" />
            </div>
            <div class="col-md-8 book_store_desc">
              <div class="title_books_store d-flex justify-content-between"></div>
              <div class="book_store_heading">
                <h3>Share Awayy!</h3>
              </div>
              <div class="book_store_text">
                <p class="responsive-updated">
                  Express the power of writing.
                  <span class="p_spaan4">Share your published stories with family and friends.</span>
                  <span class="p_spaan4">Let the world know how good you are!</span>
                  <span class="p_spaan4">Get their feedback and reviews!</span>
                </p>

                <div class="book_know_btn">
                  <a href="#" target="_blank" class="text-uppercase"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 wow fadeIn" data-wow-delay="0.6s">
        <div class="book_store cmng-back-color d-flex">
          <div class="row book-img-cont">
            <div class="col-6 cmg_sn_img">
              <img src="/assets/images/coming-soon.svg" alt="" class="coming-res win-coming-soon" />
            </div>
            <div class="col-6 book_store_desc responsive-coming cmg_sn_img2">
              <div class="title_books_store justify-content-between"></div>
              <div class="book_store_heading">
                <h3 class="hd_mrg rsp_hd_mrg">Coming Soon!</h3>
              </div>
              <div class="book_store_text body-updatedss cmg_sn_text">
                <p class="responsive-updated parah_mr">
                  Watch this space for more!
                </p>

                <div class="book_know_btn">
                  <a href="#" target="_blank" class="text-uppercase"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ End Know More -->

<!-- Services2 Start -->
<div class="container-fluid blg_bg_topsec">
  <div class="row">
    <div class="col-lg-5">
      <div class="bg_blog_img">
        <!-- <img src="../../../assets/images/blg_img_ww.jpg" /> -->
        <img src="/assets/images/idea-img.jpg" alt="Blog image" *ngIf="!blogs.length" />
        <img src="{{ baseUrl }}/images/{{ blogs[0].media }}" *ngIf="blogs.length" alt="Blog image"
          onerror="javascript:this.src='/assets/images/blog_img.jpg'" />
      </div>

      <div class="box_blg blog_files">
        <div class="box_blg_half box_blg_haf">
          <img src="/assets/images/book.svg" />
          <span>
            <p class="blog_details">{{ (blogs.length && blogs[0].readCount.length) || "0" }}</p>
            <p>Reads</p>
          </span>
        </div>

        <div class="shet_vie_demo">
          <div class="icon_share_views">
            <!-- <i class="fa col-red heart-shape" [ngClass]="blogLikeStatus()" (click)="
            blogs.length && blogs[0] && blogs[0].like
              ? updateBlogLike(blogs[0])
              : saveBlogLike(blogs[0])
          "></i>
        <i class="heart-shape"><img alt="" class="share-img-blog share-img-blog2" src="assets/images/Group 561.svg"
            (click)="openShareModal(socialMedia,blogs[0]._id)"></i>


        <i class="fa col-yel bokyy" [ngClass]="blogBookMarkStatus()" (click)="
            blogs.length && blogs[0] && blogs[0].bookmark
              ? updateBlogBookMark(blogs[0])
              : saveBlogBookMark(blogs[0])
          "></i> -->
          
            <a (click)="blogs.length && blogs[0] && blogs[0].like ? updateBlogLike(blogs[0]) : saveBlogLike(blogs[0])">
              <img alt="" [src]="blogLikeStatus()" />
            </a>
            <a (click)="openShareModal(socialMedia, blogs[0]._id)">
              <img alt="" src="assets/images/share_icon.png" />
            </a>
            <a class="bookmark_icons"><img alt="" src="assets/images/book_icon2.png" /></a>
           <!--- <a
              (click)="blogs.length && blogs[0] && blogs[0].bookmark ? updateBlogBookMark(blogs[0]) : saveBlogBookMark(blogs[0])">
              <img alt="" [src]="blogBookMarkStatus()" />
            </a>-->
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-7 d-flex full_details" style="flex-direction: column;">
      <div class="des_data">
        <h1 *ngIf="blogs.length">{{ blogs[0].title | titlecase }}</h1>
        <span class="date_post">
          <p *ngIf="blogs.length">
            {{ blogs[0].createdAt | date: "MMMM dd, yyyy" }}
          </p>
        </span>
       <!---- <h5>{{ blogs[0] && blogs[0].author }} thdidosd sdosd</h5>--->
       <p class="full_edito">by<span class="athur_name"> Swati Rajgarhia</span><span class="editore">, Editor</span></p>
        
      </div><div class="full_detils_blogs">
        <p class="blog_basic_info" [innerHTML]="getBlogContent(blogs[0].content)" *ngIf="blogs.length">...</p>
        <div class="des_data2">
          <a (click)="readBlog(blogs[0]._id)" *ngIf="blogs.length">Read More</a>
        </div>
      </div>
     
    </div>
    <!--<div class="col-lg-6 d-flex full_details" style="flex-direction: column;">
      <div class="des_data">
        <h1 *ngIf="blogs.length">{{ blogs[0].title | titlecase }}</h1>
        <span class="date_post">
          <p *ngIf="blogs.length">
            {{ blogs[0].createdAt | date: "MMMM dd, yyyy" }}
          </p>
        </span>
        <h5>{{ blogs[0] && blogs[0].author }}</h5>
        <p [innerHTML]="getBlogContent(blogs[0].content)" *ngIf="blogs.length"></p>
      </div>
      <div class="des_data2">
        <a (click)="readBlog(blogs[0]._id)" *ngIf="blogs.length">Read More</a>
      </div>
   
    </div>-->
  </div>
</div>
<!--/ End Services2 -->

<!-- Services Start -->
<!--<section class="services section">
  <div class="container-fluid" style="background-color: #3691ce;">
    <div class="row">
      <div class="col-12 p-0 wow fadeInUp">
        <div class="col-lg-11 col-12 col_bg_aqua">
          <div class="row">
            <div class="col-lg-5 col-12">
              <div class="service_left_img">

                <img src="/assets/images/no-image-593.png" alt="Blog image" *ngIf="!blogs.length" />
                <img src="{{baseUrl}}/images/{{ blogs[0].media520 }}" *ngIf="blogs.length" alt="Blog image"
                  class="blog-img" onerror="javascript:this.src='/assets/images/no-image-593.png'" />
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-lg-3 col-sm-2 new-pad new-pad2">
                      <span class="updated-map">
                        <img src="/assets/images/book.svg" class="img-updates book-icon-n" alt="dff" />
                      </span>
                    </div>
                    <div class="col-lg-9 col-sm-10 col-greys pad-zero">
                      <span class="updated-num center">
                        {{
                          (blogs.length && blogs[0].readCount.length) || "0"
                        }}</span>
                      <p><span class="reads-updated">Reads</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-6 right updated-icons">
                  <i class="fa col-red heart-shape" [ngClass]="blogLikeStatus()" (click)="
                      blogs.length && blogs[0] && blogs[0].like
                        ? updateBlogLike(blogs[0])
                        : saveBlogLike(blogs[0])
                    "></i>
                  <i class="heart-shape"><img alt="" class="share-img-blog share-img-blog2" src="assets/images/Group 561.svg"
                      (click)="openShareModal(socialMedia,blogs[0]._id)"></i>


                  <i class="fa col-yel bokyy" [ngClass]="blogBookMarkStatus()" (click)="
                      blogs.length && blogs[0] && blogs[0].bookmark
                        ? updateBlogBookMark(blogs[0])
                        : saveBlogBookMark(blogs[0])
                    "></i>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-12">
              <div class="service_right_desc">
                <div class="service_top_head">
                  <h3 class="text-uppercase" *ngIf="blogs.length">
                    {{ blogs[0].title }}
                  </h3>
                  <span *ngIf="blogs.length">{{
                    blogs[0].createdAt | date: "MMMM dd, yyyy"
                  }}</span>
                </div>
                <div class="service_top_span">
                  <span class="text-uppercase">{{
                    (blogs[0] && blogs[0].author) || ""
                  }}</span>
                </div>
                <div class="service_text">
                  <p [innerHTML]="getBlogContent(blogs[0].content)" *ngIf="blogs.length"></p>
                </div>
                <div class="service_icon_details d-flex justify-content-between">
                  <div class="social_likes justify-content-between d-flex"></div>
                  <div class="social_read responsive-a updated-radmore">
                    <a (click)="readBlog(blogs[0]._id)" *ngIf="blogs.length">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>--->
<!--/ End Services -->

<!-- Hero area static2 -->
<div class="container-fluid blog_second_prt">
  <div class="row">
    <div class="col-md-6 box_2_blogs_hd">
      <h1>We're Publishing!</h1>
      <p class="box_2_blogs_hd1">
        Titles <span> {{ openPublications.length }}</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Genres <span> {{ openPublicationGenresCount }}</span>
      </p>
      <a routerLink="/publish" class="veiw_al_btn">View All <i _ngcontent-tmm-c3=""
          class="fa fa-long-arrow-right"></i></a>
      <div class="box_2_blogs" *ngIf="openPublications.length">
        <div class="b1st_blog">
          <!-- <img src="/assets/images/read-away-publish.jpg" /> -->
          <img src="{{ baseUrl }}/images/{{
              openPublications[openPublicationIndex]['mediaCover']
            }}" onerror="javascript:this.src='/assets/images/weare-publishing.jpg'" alt="" *ngIf="
              openPublications.length &&
              openPublications[openPublicationIndex].mediaCover
            " />
          <div class="box_blg_second">
            <div class="box_blg_half_second box_blg_haf_second"></div>

            <div class="box_blg_half_second blog_icons_two">
              <div class="box_blg_half_icon_wd_second blog_icons_two_2">
                         
                      <a  class="book_iocon_nom" (click)="
                    openShareModal(
                      socialMedia,
                      openPublications[openPublicationIndex]._id,
                      'publication'
                    )
                  ">
                  <img alt="" src="assets/images/share_icon.png" />
                </a>
                <a class="book_markt_vis ssss" (click)="openPublications.length && openPublications[openPublicationIndex] && openPublications[openPublicationIndex].bookmark
                      ? updatePublicationBookMark(openPublications[openPublicationIndex])
                      : savePublicationBookMark(openPublications[openPublicationIndex])">
                  <img alt="" [src]="publicationBookMarkStatus(openPublications[openPublicationIndex])" />
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="b1st_blog_des">
          <h3 class="text-uppercase">
            {{ openPublications[openPublicationIndex].title }}
          </h3>
          <!-- <h3 class="text-uppercase">ELIZABETH GEORGE</h3> -->
          <p [innerHTML]="getBrief()" *ngIf="openPublications.length" class="some_details">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop p
          </p>
        </div>

        <div class="b1st_blog_publisher">
          <div _ngcontent-fdf-c3="" class="publisher_desc">
            <div _ngcontent-fdf-c3="" class="publisher_name">
              <span _ngcontent-fdf-c3="" class="publi">Publisher:</span>
              <img _ngcontent-fdf-c3="" alt="" src="/assets/images/w.svg" />
              <span _ngcontent-fdf-c3="" class="name"> Write Awayy<!--{{ "Admin" }}--></span>
            </div>
          </div>

          <div class="classic_details details-updated">
            <div class="classic_post">
              <p *ngIf="openPublications.length" class="srs_to">
                <span class="cntr_publisher_detl">Genres:</span>
                <span *ngFor="
                    let genre of openPublications[openPublicationIndex].genres;
                    let i = index
                  ">
                  {{ genre.title | titlecase }}
                  <span *ngIf="
                      i ==
                      openPublications[openPublicationIndex].genres.length - 1
                    "></span>
                  <span *ngIf="
                      i !=
                      openPublications[openPublicationIndex].genres.length - 1
                    ">,</span>

                  <!-- <span *ngIf="i==data.genres.length-1"></span>
                <span *ngIf="i!=data.genres.length-1">,</span> -->
                </span>
              </p>

              <p class="srs_to" *ngIf="openPublications.length">
                <span class="cntr_publisher_detl">Age Group:</span>
                <span class="col-grey" *ngFor="
                    let age of openPublications[openPublicationIndex].ageGroup;
                    let i = index
                  ">
                  {{ age.ageRange.join("-") }} years
                  <span *ngIf="
                      i ==
                      openPublications[openPublicationIndex].ageGroup.length - 1
                    "></span>
                  <span *ngIf="
                      i !=
                      openPublications[openPublicationIndex].ageGroup.length - 1
                    ">,</span>
                </span>
              </p>
              <p class="srs_to" *ngIf="openPublications.length">
                <span class="cntr_publisher_detl">Word Count:</span>
                <!--<span>{{
                  openPublications[openPublicationIndex].language | titlecase
                }}</span>-->
                <span>{{openPublications[openPublicationIndex].wordCount}} words</span>
              </p>


              <p *ngIf="openPublications.length">
                <span class="cntr_publisher_detl">Closing Date:</span>
                <span>{{
                  openPublications[openPublicationIndex].closingDate
                    | date: "MMM dd, yyyy"
                }}</span>
              </p>
            </div>
          </div>

          <div class="dts1"></div>
          <div class="dts2">
            <button class="write-on-btn btn-lg" (click)="
                writePublication(openPublications[openPublicationIndex]._id)
              ">
              Write
            </button>
          </div>
        </div>
      </div>

      <div class="out-of-hero-area">
        <p>
          <span (click)="publishCationSlider('-', 'open')" class="fa fa-angle-left slider-direction-icon">
          </span>
          <span class="sp-sp">
            <span class="clr-pink updated-clr-pink">
              {{ openPublicationIndex + 1 }}</span>/ {{ openPublications && openPublications.length }}
          </span>
          <span class="fa fa-angle-right slider-direction-icon" (click)="publishCationSlider('+', 'open')"></span>
        </p>
      </div>
    </div>
    <div class="col-md-6 box_2_blogs_hd">
      <h1>Reading Room!</h1>
      <p class="box_2_blogs_hd1">
        Titles <span>1</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Genres
        <span>1</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Topics <span>13</span>
      </p>
      <style>
        .box_2_blogs.reader {
          display: none;
        }
        .readerActive.reader.readerActive {
          display: block;
        }
      </style>
      <a href="#" class="veiw_al_btn">View All<i _ngcontent-tmm-c3="" class="fa fa-long-arrow-right"></i></a>
      <div class="box_2_blogs reader" *ngFor="let rData of sAttributes.homeReaderData; let idx = index" [class.readerActive]="readerIndex == idx">
        <div class="b1st_blog">
          <img src="/assets/images/read-away-publish.jpg" />
          <div class="box_blg_second">
            <div class="box_blg_half_second box_blg_haf_second">
              <img src="/assets/images/book.svg" />
              <span>
                <p>0</p>
                <p>Reads</p>
              </span>
            </div>

            <div class="box_blg_half_second blog_icons_two">
              <div class="box_blg_half_icon_wd_second blog_icons_two_2">
             
                  <a><img alt="" src="assets/images/hrt_icon.png" /></a>
                  <a herf="javascript:void(0)"><img alt="" src="assets/images/share_icon.png" (click)="socialShareOpen(socialMedia)" /></a>
                 <a class="ss_vie_bookmark"><img alt="" src="assets/images/book_icon.png" /></a>
              </div>
            </div>
          </div>
        </div>

        <div class="b1st_blog_des write_angles">
          <h3 class="text-uppercase">{{rData.title}} <span *ngIf="rData.subtitle">- {{rData.subtitle}}</span></h3>
<!--           <p>
            <span class="b1st_blog_des_spn1">"Oh the summer night has a smile of light!"<br />-Barry cornwall</span>
          </p> -->
          <div [innerHTML]="rData.content"></div>
        </div>

        <div class="b1st_blog_publisher">
          <div _ngcontent-fdf-c3="" class="publisher_desc">
            <div _ngcontent-fdf-c3="" class="publisher_name">
              <span _ngcontent-fdf-c3="" class="publi">Publisher:</span>
              <div class="w-100 center">
                <img _ngcontent-fdf-c3="" alt="" class="center" src="/assets/images/w.svg" />
              </div>
              <span _ngcontent-fdf-c3="" class="name">Write Awayy</span>
            </div>
          </div>

          <div _ngcontent-fdf-c3="" class="classic_details details-updated">
            <div _ngcontent-fdf-c3="" class="classic_post classic_post5">
              <p *ngIf="openPublications.length" class="srs_to">
                <span class="cntr_publisher_detl">Genres:</span>
                <span *ngFor="
                    let genre of openPublications[openPublicationIndex].genres;
                    let i = index
                  ">
                  {{ genre.title | titlecase }}
                  <span *ngIf="
                      i ==
                      openPublications[openPublicationIndex].genres.length - 1
                    "></span>
                  <span *ngIf="
                      i !=
                      openPublications[openPublicationIndex].genres.length - 1
                    ">,</span>

                  <!-- <span *ngIf="i==data.genres.length-1"></span>
                <span *ngIf="i!=data.genres.length-1">,</span> -->
                </span>
              </p>

              <!--<p class="srs_to" *ngIf="openPublications.length">
                <span class="cntr_publisher_detl">Languages:</span>
                <span>{{
                  openPublications[openPublicationIndex].language | titlecase
                }}</span>
              </p>-->

              <p class="srs_to" *ngIf="openPublications.length">
                <span class="cntr_publisher_detl">Age Group:</span>
                <span class="col-grey" *ngFor="
                    let age of openPublications[openPublicationIndex].ageGroup;
                    let i = index
                  ">
                  {{ age.ageRange.join("-") }} years
                  <span *ngIf="
                      i ==
                      openPublications[openPublicationIndex].ageGroup.length - 1
                    "></span>
                  <span *ngIf="
                      i !=
                      openPublications[openPublicationIndex].ageGroup.length - 1
                    ">,</span>
                </span>
              </p>

            <!--  <p *ngIf="openPublications.length">
                <span class="cntr_publisher_detl">Closing Date:</span>
                <span>{{
                  openPublications[openPublicationIndex].closingDate
                    | date: "MMM dd, yyyy"
                }}</span>
              </p>-->
              <!--bindings={
                   "ng-reflect-ng-if": "1"
                 }-->
            </div>
          </div>

          <div class="dts1">
            <div _ngcontent-csn-c3="" class="follow_links">
              <div _ngcontent-csn-c3="" class="center taing_data">
                <ul _ngcontent-csn-c3="">
                  <li _ngcontent-csn-c3="">
                    <img src="/assets/images/star.svg" />
                  </li>
                  <li _ngcontent-csn-c3="">
                    <img src="/assets/images/star.svg" />
                  </li>
                  <li _ngcontent-csn-c3="">
                    <img src="/assets/images/star.svg" />
                  </li>
                  <li _ngcontent-csn-c3="">
                    <img src="/assets/images/star.svg" />
                  </li>
                  <li _ngcontent-csn-c3="">
                    <img src="/assets/images/star.svg" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <br/>
          <div class="dts2">
            <button _ngcontent-fll-c3="" class="write-on-btn btn-lg" (click)="openReadingRoom(rData.slug)">
              Read
            </button>
          </div>
        </div>
      </div>

      <div class="out-of-hero-area">
        <p>
          <span (click)="readerIndex >= 1 ? readerSlider('-', idx) : ''" class="fa fa-angle-left slider-direction-icon">
          </span>
          <span class="sp-sp">
            <span class="clr-pink updated-clr-pink">
              {{ readerIndex + 1 }}</span>/ {{ sAttributes.homeReaderData && sAttributes.homeReaderData.length }}
          </span>
          <span class="fa fa-angle-right slider-direction-icon" (click)="readerIndex == sAttributes.homeReaderData.length - 1 ? '': readerSlider('+', idx) "></span>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- /End Hero area static2 -->

<!-- Hero area static -->
<!--<section class="hero-area">
  <div class="container-fluid">
    <div class="row sssss">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="slider_top_text">
          <h3 class="cil-updatedsss">We're Publishing!</h3>
          <ul class="other_text">
            <li class="text_titles">
              <span>Titles

                <a href="#" target="_blank" class="cil-updatedsss">
                  {{openPublications.length}}
                </a></span>
            </li>
            <li class="text_titles">
              <span>
                Genres
                <a href="#" target="_blank" class="cil-updatedsss">
                  {{openPublicationGenresCount}}
                </a></span>
            </li>
            <li class="text_titles">
              <span><a routerLink="/publish" class="col-blacky">View All <i
                    class="fa fa-long-arrow-right"></i></a></span>
            </li>
          </ul>
        </div>
        <div class="left_sidebar updated-left-side">
          <div class="row" *ngIf="openPublications.length">
            <div class="col-lg-6 col-12">
              <div class="left_sidebar_img">
                <img src="{{baseUrl}}/images/{{
                    openPublications[openPublicationIndex]['mediaCover']
                  }}" onerror="javascript:this.src='/assets/images/dummy291.png'" alt="" *ngIf="
                    openPublications.length &&
                    openPublications[openPublicationIndex].mediaCover
                  " />
              </div>
              <div class="text-right">
                <img alt="" class="rsp_img_share rsp_img_share2" src="assets/images/Group 561.svg"
                  (click)="openShareModal(socialMedia,openPublications[openPublicationIndex]._id, 'publication')">
                (click)="sharePublication(openPublications[openPublicationIndex])" -->

<!--<i class="fa col-yel bokyy book_mark_link" [ngClass]="
                    publicationBookMarkStatus(
                      openPublications[openPublicationIndex]
                    )
                  " (click)="
                    openPublications.length &&
                    openPublications[openPublicationIndex] &&
                    openPublications[openPublicationIndex].bookmark
                      ? updatePublicationBookMark(
                          openPublications[openPublicationIndex]
                        )
                      : savePublicationBookMark(
                          openPublications[openPublicationIndex]
                        )
                  "></i>
              </div>
              <div class="publisher_desc publisher_desc3">
                <div class="publisher_name">
                  <span class="publi">Publisher:</span>

                  <img src="./assets/images/publisher.svg" alt="" />
                  <span class="name">Daniel</span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mobile-view mobile-vieww col-12">
              <h3 class="text-uppercase" *ngIf="openPublications.length">
                {{ openPublications[openPublicationIndex].title }}
              </h3>


              <p [innerHTML]="getBrief()" *ngIf="openPublications.length">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                p
              </p>

              <div class="publisher_desc publisher_desc2">
                <div class="publisher_name">
                  <span class="publi">Publisher:</span>

                  <img src="./assets/images/publisher.svg" alt="" />
                  <span class="name">Daniel</span>
                </div>
              </div>

              <div class="classic_details details-updated">
                <div class="classic_post">
                  <p *ngIf="openPublications.length">
                    Genres:
                    <span *ngFor="let genre of openPublications[openPublicationIndex].genres;let i=index">
                      {{ genre.title | titlecase }}
                      <span *ngIf="i==openPublications.length-1"></span>
                      <span *ngIf="i!=openPublications.length-1">,</span>
                    </span>
                  </p>
                  <p *ngIf="openPublications.length">
                    Languages:
                    <span>{{
                      openPublications[openPublicationIndex].language
                        | titlecase
                    }}</span>
                  </p>
                  <p *ngIf="openPublications.length">
                    Age Group:
                    <span class="col-grey" *ngFor="let age of openPublications[
                      openPublicationIndex
                    ].ageGroup"> {{ age.ageRange.join('-') }}
                      years,</span>
                  </p>
                  <p *ngIf="openPublications.length">
                    Closing Date:
                    <span>{{
                      openPublications[openPublicationIndex].closingDate
                        | date: "MMM dd, yyyy"
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-9 col-12 follow_detailsss">
              <div class="follow_details follow_detailss fix-updated top-fix">
                <div class="follow_btn">
                  <button class="write-on-btn btn-lg" (click)="
                      writePublication(
                        openPublications[openPublicationIndex]._id
                      )
                    ">
                    Write
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="out-of-hero-area">
          <p>
            <span (click)="publishCationSlider('-', 'open')" class="fa fa-angle-left slider-direction-icon"></span>
            <span class="sp-sp">
              <span class="clr-pink updated-clr-pink">
                {{ openPublicationIndex + 1 }}</span>/ {{ openPublications && openPublications.length }}
            </span>
            <span (click)="publishCationSlider('+', 'open')" class="fa fa-angle-right slider-direction-icon"></span>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 rsp_bl_box">
        <div class="slider_top_text">
          <h3 class="cil-updatedsss">Reading Room!</h3>
          <ul class="other_text">
            <li class="text_titles">
              <span>Titles
                <a href="#" target="_blank" class="cil-updatedsss">
                  300
                </a></span>
            </li>
            <li class="text_titles">
              <span>Genres
                <a href="#" target="_blank" class="cil-updatedsss">300</a></span>
            </li>
            <li class="text_titles">
              <span>Topics
                <a href="#" target="_blank" class="cil-updatedsss">{{
                  "0"
                }}</a></span>
            </li>
            <li class="text_titles">
              <span>View All <i class="fa fa-long-arrow-right"></i></span>
            </li>
          </ul>
        </div>
        <div class="left_sidebar updated-left-side">
          <div class="row" *ngIf="openPublications.length">
            <div class="col-lg-6 col-12">
              <div class="left_sidebar_img">
                <img src="/assets/images/read-away-publish.jpg"
                  onerror="javascript:this.src='/assets/images/dummy291.png'" alt="" />
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-4 new-pad read-room-book">
                      <span class="updated-map">
                        <img alt="dff" class="img-updates book-icon-n" src="/assets/images/book.svg">
                      </span>
                    </div>
                    <div class="col-6 col-greys pad-zero">
                      <span class="updated-num center"> 1</span>
                      <p><span class="reads-updated">Reads</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-6 right">
                  <i class="fa fa-heart-o col-red heart-shape"></i>
                  <img alt="" class="updated-images-left" src="assets/images/Group 561.svg">
                  <i class="fa fa-bookmark-o col-yel bokyy"></i>
                </div>
              </div>

              <div class="publisher_desc publisher_desc3 read-author">
                <div class="publisher_name">
                  <span class="publi">Publisher:</span>

                  <img src="./assets/images/publisher.svg" alt="" />
                  <span class="name">Daniel</span>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-6 mobile-view col-12">
              <h3 class="text-uppercase">
                Writing Prompts for Grades Arnold Cheyney
              </h3>


              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                p
              </p>
              <div class="publisher_desc publisher_desc2 read-author">
                <div class="publisher_name">
                  <span class="publi">Publisher:</span>

                  <img src="./assets/images/publisher.svg" alt="" />
                  <span class="name">Daniel</span>
                </div>
              </div>
              <div class="classic_details">
                <div class="classic_post">
                  <p>
                    Genres:
                    <span>200</span>
                  </p>
                  <p>
                    Languages:
                    <span>Hindi</span>
                  </p>
                  <p>
                    Age Group:
                    <span>10-20</span>
                  </p>
                  <p>
                    Closing Date:
                    <span>May 10, 2020</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 text-center">
              <div class="follow_links">
                <div class="taing_data">
                  <ul>
                    <li><i class="fa fa-2x fa-star"></i></li>
                    <li><i class="fa fa-2x fa-star"></i></li>
                    <li><i class="fa fa-2x fa-star"></i></li>
                    <li><i class="fa fa-2x fa-star"></i></li>
                    <li><i class="fa fa-2x fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="follow_details follow_details_2">
                <div class="follow_btn">
                  <button class="write-on-btn btn-lg" routerLink="/user-profile/read-publication">
                    Read
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="out-of-hero-area">
          <p>
            <span (click)="blogPublishSlider('-', 'closed')" class="fa fa-angle-left slider-direction-icon"></span>
            <span class="sp-sp">
              <span class="clr-pink updated-clr-pink">
                {{ closedPublicationIndex + 1 }}</span>/ {{ closedPublications.length }}
            </span>
            <span (click)="blogPublishSlider('+', 'closed')" class="fa fa-angle-right slider-direction-icon"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!-- /End Hero area static -->

<!-- Testimonials -->
<section class="testimonials"*ngIf="1==2">
  <div class="container-fluid">
    <div class="row m-0">
      <div class="col-lg-12 col-12">
        <h3 class="text-center testi-updated testimonials_title testi-updated mt-5 mb-2">
          <span>Te</span>stimonials
        </h3>
        <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="false" [interval]="false" [noWrap]="false"
          [indicatorsByChunk]="true">
          <slide *ngFor="let slide of slides; let index = index" class="slider-cont">
            <img [src]="slide.image" alt="image slide" class="slider-img" />
            <p class="itilicks">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto
            </p>
            <div class="slider-testimonial-sec">
              <p class="font-updated">- John Doe</p>
              <span class="firm_name font-abc">ABC Company</span>
            </div>
            <div class="carousel-caption"></div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</section>
<!-- Testimonials end -->
<ng-template #socialMedia>

  <div class="modal-body fd_bc_rr">
    <button type="button" class="close_km2" aria-label="Close" (click)="socialShareClose()">
      <span aria-hidden="true"><img src="../../../assets/images/cross.svg" /></span>
    </button>
    <div class="footer-modal">
      <p>Share on your Social Media:</p>
      <div class="social-icons">
        <a href="javascript:void(0)" target="_blank"> 
          <i class="fa fa-facebook circle "></i>
        </a>
        <a href="javascript:void(0)" ><i class="fa fa-instagram circle"></i></a>
        <a href="javascript:void(0)"><i
            class="fa fa-linkedin circle "></i></a>
        <!-- <i class="fa  fa-google-plus circle google-icon"></i> -->
      </div>
      <p>Copy the link below:</p>
      <input class="footer-email-input" value="http://demo1.writeawayy.com/blogs" type="url" [(ngModel)]="sAttributes.currentUrl" #blogUrl>
      <button class="email-btn ftr_mail_button blogurltl" type="button" (click)="copyblogmessageUrl(blogUrl)" [class.alert-success]="sAttributes.inputElement">
        <span *ngIf="!sAttributes.inputElement">Copy</span>
        <span *ngIf="sAttributes.inputElement">Copyed!!</span>
      </button>
    </div>
  </div>
  
  <!-- <div class="modal-body">
    <span class="close">×</span>
    <div class="icon5" style="margin-bottom: 32px;">
      <h6 style="
          text-align: left;
          font-size: 11px;
          font-weight: 600;
          color: #777575;
        ">
        Share On social media
      </h6>
      Your share button code 
      <div class="fb-share-button" data-href="http://demo.writeawayy.com/" data-layout="button"> 

      <share-buttons [theme]="'material-light'" [include]="['facebook', 'twitter', 'linkedin', 'copy']" [show]="6"
        [size]="1" [url]="'http://write-away.knickglobal.co.in/'" [title]="'test'" [description]="'desc'" [image]="
          'https://demo.rasatva.com/catalog/view/theme/default/image/logo.jpg'
        " (opened)="trackShare($event)" (closed)="onClosed($event)"></share-buttons>

      <div class="fb-share-button" data-href="http://demo.writeawayy.com/" data-layout="button"></div>
      <a class="fb-share-button fa fa-facebook circle5" (click)="postFb()" data-href="http://demo.writeawayy.com/"
        data-layout="button"><i></i></a>
       (click)="blogShareLink('facebook')" 
      <a (click)="blogShareLink('instagram')"><i class="fa fa-instagram circle5"></i></a>
      <a (click)="blogShareLink('linkedin')"><i class="fa fa-linkedin circle5"></i></a>
      <a (click)="blogShareLink('google+')"><i class="fa fa-google-plus circle5"></i></a>
      <a (click)="blogShareLink('youtube')"><i class="fa fa-youtube circle5"></i></a>
      <a (click)="blogShareLink('twitter')"><i class="fa fa-twitter circle5" style="margin-top: -6px;"></i></a>
    </div>

    <div style="width: 100%; float: left;">
      <h6 style="
          text-align: left;
          font-size: 11px;
          font-weight: 600;
          color: #777575;
        ">
        Copy Link
      </h6>
      <input type="text" [(ngModel)]="copiedLink" id="myInput" style="
          width: 80%;
          float: left;
          background: #effdfe;
          border: none;
          border-radius: 18px;
        " />
      <button (click)="blogShareLink('site')" style="
          width: 20%;
          float: left;
          background: #effdfe;
          border: none;
          border-radius: 18px;
          box-shadow: none;
          border: none;
        ">
        <img src="/assets/images/link.png" />
      </button>
    </div>
  </div> -->
</ng-template>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
<ng-template #knowMore>
  <!--<div class="modal-header">
    <h4 class="modal-title pull-left">Know More</h4>
  </div>-->
  <div class="modal-body modal-content_km">
    <div class="know-more-info col_bg_aqua">
      <button type="button" class="close_km" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true"><img src="/assets/images/cross.svg" /></span>
      </button>
      <ul class="know-more-ul">
        <span>.</span>
        <li>
          Write a story for one of our titles. Send it to us.
        </li>

        <span>.</span>
        <li>
          We proof and edit your story. This means that we check the grammar and
          spellings, and tweak it a little (only if it is required).
        </li>

        <span>.</span>
        <li>
          After that, our creative team adds an image to make your story look
          groovier!
        </li>

        <span>.</span>
        <li>
          All this take about 3 week and then, we publish your story in our Reading Room and social media
          platforms.
        </li>
      </ul>
    </div>
  </div>
</ng-template>


<!-- <ng-template #badge>
    <div class="modal-header">
      <button type="button" class="close pull-right" (click)="userBadgeClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" [formGroup]="badgeForm">
        <input type="text" class="topic" placeholder="Enter Topic" formControlName="topic"  [ngClass]="{ 'is-invalid': submitted && f.topic.errors }"/>
        <div *ngIf="submitted && f.topic.errors" class="invalid-feedback">
          <div *ngIf="f.topic.errors.required"> Topic is required </div>
        </div>

        <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*"
        (change)="onImageSelect($event)" formControlName="pubImg"  [ngClass]="{ 'is-invalid': submitted && f.pubImg.errors }"/>
        <div *ngIf="submitted && f.pubImg.errors" class="invalid-feedback">
          <div *ngIf="f.pubImg.errors.required"> Image is required </div>
        </div>


        <textarea formControlName="content" [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
          <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
            <div *ngIf="f.content.errors.required"> Topic is required </div>
          </div>

          <div class="row">
            <div class="col-md-6 right">
              <button type="button" class="forget-cancl" (click)="userBadgeClose()">Cancel </button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn-signup" (click)="submitBadge()">Submit</button>
            </div>
          </div>
      </form>
    </div>
</ng-template> -->
