<div class="about_us">
    <div class="container">
        <div class="row">
            <div class="col- col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="full-details_writea">
                    <div class="logo_viw_tag"> <span><img src="/assets/images/about_logo.png" alt="" class="img-fluid"></span>
                    </div>
                    <p><strong>Write Awayy </strong>is a digital gateway to the happy place of writing, reading, sharing
                        and building a beautiful world of stories.</p>
                    <p>It gives the children a platform for the expression of all of the incredible ideas and creativity
                        their minds are brimming with. With a voice to express themselves, they develop healthy
                        emotional growth and critical thinking skills, which comes hand-in-hand with an improved school
                        performance.</p>
                    <p>Writing stories and getting them published seems daunting, but <strong>Write Awayy</strong> makes
                        it easy. We create titles of specific genres and the children write stories for it (there are
                        prompts and a handbook to help them).</p>
                    <p>The <strong>Reading Room </strong> of our website is the cosy corner for the children to read the
                        published stories. Written by children from varied age groups, it has stories for the early
                        readers and the more advanced ones. Reading stories written in a language familiar to them makes
                        the experience engaging for the children as they can relate easily to the plots, characters and
                        perspective of the author.</p>
                    <p>Sharing the published stories with family, friends and on various social media is both motivating
                        and a process of learning. Getting feedback and reviews encourages the children to further
                        develop their writing skills and view their stories from the reader’s perception.</p>
                    <p>There’s a spellbinding land of stories out there! <strong>Write Awayy</strong> is excited to
                        explore it with children, and collaborate with parents to raise writers and readers!</p>
                </div>
            </div>
        </div>
    </div>
</div>