<div class="left-bar-writeAway background-light-blue">
  <img src="assets/images/publisher.svg"> <span style=" display: inline-block;
  ">Daniel</span>
  <p class="updated-pad-left">
    Profile Completion <span class="progress progress-left" style="width: 45% !important;
      margin-left: 9px !important;    margin-top: 3px !important;    height: 14px !important;


  ">
      <span class="progress-bar bar-length" style="color:white !important
          ;border-radius: 13px !important;
          font-size: 8px !important;    font-size: 10px !important;

          ">75%</span>
    </span>
    <i class="fa fa-pencil-square-o fa-lg left-edit-iconss "></i>
  </p>

  <p>
    Status:<span>Minor Child</span>
  </p>
  <p>
    Content Level: <span> Upto 15 yrs</span>
  </p>
  <div class="row rating-left">
    <div class="col-md-6">
      <p>My Rating</p>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>
      <i class="fa fa-star star-icon"></i>


    </div>
    <div class="col-md-6 center">
      <div class="center">
        <i class="fa fa-user user-icon"></i>
        <i class="fa fa-share-alt share-icon-left"></i>
        <p style="display:block !important" class="share-profile-responsive">Share Profile</p>

      </div>


    </div>

  </div>

  <div class="left-pad border-white">
    <div class="row">
      <div class="col-8 pad-top-left ">
        <p>
          I'm Writing... <span>500</span>
        </p>

      </div>
      <div class="col-4 text-right right-updated-bars">
        <img class="updated-images-left" src="assets/images/forbidden.svg" alt=""><span
          class="col-updated-grey">450</span>
        <p class="updated-shares-left">Shares</p>
      </div>

    </div>

  </div>

  <div class=" ">
    <div class="row">
      <div class="col-8 pad-top-left">
        <p>
          I'm Reading... <span> 500</span>
        </p>

      </div>
      <div class="col-4 text-right right-updated-bars">
        <img class="updated-images-left" src="assets/images/Group 561.svg" alt=""><span
          class="col-updated-grey">450</span>
        <p class="updated-shares-left">Shares</p>
      </div>

    </div>


  </div>
  <hr style="color: white !important;">

  <div class="left-pad border-white ">
    <div class="row">
      <div class="col-8 pad-top-left">
        <p>
          My Submissions: <span>500</span>
        </p>

      </div>
      <div class="col-4 text-right right-updated-bars">
        <img class="updated-images-left" src="assets/images/unnamed.svg" alt=""><span
          class="col-updated-grey">500</span>
        <p class="updated-shares-left">Reverts</p>
      </div>

    </div>

  </div>

  <div class="">
    <div class="row">
      <div class="col-8 pad-top-left">
        <p>
          Published: <span> 500</span>
        </p>

      </div>
      <div class="col-4 text-right right-updated-bars">
        <img class="updated-images-left" src="assets/images/Group 1383.svg" alt=""><span
          class="col-updated-grey">500</span>
        <p class="updated-shares-left">Flags</p>
      </div>

    </div>


  </div>

  <div class="row updated-border">
    <div class="col-4 left-bar-size updated-small center">
      <div class="align-bookimg"><img src="assets/images/reads-book.svg" class="bottom-img-updateds">
      </div>
      <div class="align-reads">450</div>
      <div><span class="left-icons-multiple left-bar-size-1">Reads</span></div>
    </div>
    <div class="col-4 left-bar-size center">
      <div class="align-bookimg"><img src="assets/images/HEART.svg" class="bottom-img-updateds">
      </div>
      <div class="align-reads">450</div>
      <div><span class="left-icons-multiple left-bar-size-1">Likes</span></div>
    </div>
    <div class="col-4 left-bar-size center">
      <div class="align-bookimg"><img src="assets/images/Group 561.svg" class="bottom-img-updateds">
      </div>
      <div class="align-reads">450</div>
      <div><span class="left-icons-multiple left-bar-size-1">Shares</span></div>
    </div>


  </div>

  <div class=" blog-body-icons border-white pad-20ss background-light-blue">

    <div class="row ">
      <div class="col-6 left-bar-size center">
        <!-- <img src="assets/BOKMRK.svg" class="below-icons-left">
              <div class="align-center">450</div>
              <div><span class="left-icons-multiple left-bar-size">Bookmarks</span></div> -->
        <img src="assets/images/BOKMRK.svg" class="updated-bkmrk below-icons-left " style="width: 10% !important;">
        <span class="below-marks-left">450</span>
        <div><span class="left-icons-multiple left-bar-size">Bookmarks</span></div>
      </div>
      <div class="col-6 left-bar-size center">
        <img src="assets/images/iconfinder_remind_3007553.svg" class="below-icons-left">
        <span class="below-marks-left">450</span>
        <div><span class="left-icons-multiple left-bar-size">Reminders</span></div>
      </div>

    </div>

  </div>


  <div class=" blog-body-icons border-white pad-20ss  background-light-blue">
    <div class="row">
      <div class="col-6 left-bar-size center">
        <img src="assets/images/dvsdfvbfb.svg" class="below-icons-left">
        <span class="below-marks-left">450</span>
        <div><span class="left-icons-multiple left-bar-size">Following</span></div>
      </div>
      <div class="col-6 left-bar-size center">
        <img src="assets/images/Group 1255.svg" class="below-icons-left">
        <span class="below-marks-left">450</span>
        <div><span class="left-icons-multiple left-bar-size">Followers</span></div>
      </div>

    </div>
  </div>









  <div class="left-pad ">
    <p>
      My Social Media:
    </p>
    <div class="updated-left-icons-bottom ">
      <i class="fa  fa-facebook fa-lg  left-bar-btmss"></i>
      <i class="fa  fa-instagram  fa-lg  left-bar-btmss"></i>
      <i class="fa  fa-twitter  fa-lg  left-bar-btmss"></i>
      <i class="fa  fa-linkedin fa-lg  left-bar-btmss"></i>

      <i class="fa  fa-google-plus fa-lg   left-bar-btmss"></i>
    </div>
    <p></p>

  </div>
</div>
