<div class="about_us">
    <div class="container">
        <div class="row">
            <div class="col- col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="full-details_writea">
                    <div class="logo_viw_tag"> <span><img src="images/about_logo.png" alt=""></span></div>
                    <p><strong>Terms of Use & Legal Policies </strong>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>