<div class="container-fluid">
  <!-- header -->

  <div class="row pad-zero">

    <div class="col-md-3 pad-zero">
      <button type="button" class="logo-btn">My Desk</button>
    </div>

    <div class="col-md-9 right right-header pull-right ">
      <div class="my-desk-heading background-light-pink">
        <p> <span class="color-pink">I'm</span> Reading...<span class="col-blue">500</span></p>

      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-user-sidebar></app-user-sidebar>
    </div>
    <div class="col-md-9">

      <div class="container-fluid list-view-my-desk">

        <div class="row text-center table-header">
          <p class="col-md-1">S.No</p>
          <p class="col-md-2">Title</p>
          <p class="col-md-1"> Genres</p>
          <p class="col-md-2">Age-Groups</p>
          <p class="col-md-1">Topics</p>
          <p class="col-md-2">Publisher</p>
          <div class="col-md-3"></div>
        </div>



        <div class="row background-light-blue">
          <div class="col-md-6">
          </div>
          <div class="col-md-1 daniel-div">
            <div class="color-blues">300</div>
          </div>
          <div class="col-md-2 daniel-div">
            <div> Daniel</div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row rounded-div">
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-book fa-lg  clr1"></i></div>
                  <div class="align-center">1500</div>
                  <div><span class="left-icons-multiple">Reads</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-lg  fa-heart-o clr2" aria-hidden="true"></i></div>
                  <div class="align-reads">90</div>
                  <div><span class="left-icons-multiple">Likes</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-share  fa-lg  clr1"></i></div>
                  <div class="align-reads">450</div>
                  <div><span class="left-icons-multiple">Shares</span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 align-center">
                  <div class="rating">Rating</div>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                </div>
                <div class="col-6">
                  <button class="open-btn">Open</button>
                </div>
              </div>
            </div>
            <div></div>
          </div>


        </div>

        <div class="row background-light-pink">
          <div class="col-md-6">
          </div>
          <div class="col-md-1 daniel-div ">
            <div class="color-blues">300</div>
          </div>
          <div class="col-md-2 daniel-div">
            <div> Daniel</div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row rounded-div">
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-book fa-lg  clr1"></i></div>
                  <div class="align-center">1500</div>
                  <div><span class="left-icons-multiple">Reads</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-lg  fa-heart-o clr2" aria-hidden="true"></i></div>
                  <div class="align-reads">90</div>
                  <div><span class="left-icons-multiple">Likes</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-share  fa-lg  clr1"></i></div>
                  <div class="align-reads">450</div>
                  <div><span class="left-icons-multiple">Shares</span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 align-center">
                  <div class="rating">Rating</div>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                </div>
                <div class="col-6">
                  <button class="open-btn color-blue">Open</button>
                </div>
              </div>
            </div>
            <div></div>
          </div>


        </div>

        <div class="row background-light-blue">
          <div class="col-md-6">
          </div>
          <div class="col-md-1 daniel-div">
            <div class="color-blues">300</div>
          </div>
          <div class="col-md-2 daniel-div">
            <div> Daniel</div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row rounded-div">
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-book fa-lg  clr1"></i></div>
                  <div class="align-center">1500</div>
                  <div><span class="left-icons-multiple">Reads</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-lg  fa-heart-o clr2" aria-hidden="true"></i></div>
                  <div class="align-reads">90</div>
                  <div><span class="left-icons-multiple">Likes</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-share  fa-lg  clr1"></i></div>
                  <div class="align-reads">450</div>
                  <div><span class="left-icons-multiple">Shares</span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 align-center">
                  <div class="rating">Rating</div>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                </div>
                <div class="col-6">
                  <button class="open-btn">Open</button>
                </div>
              </div>
            </div>
            <div></div>
          </div>


        </div>

        <div class="row background-light-pink">
          <div class="col-md-6">
          </div>
          <div class="col-md-1 daniel-div ">
            <div class="color-blues">300</div>
          </div>
          <div class="col-md-2 daniel-div">
            <div> Daniel</div>
          </div>
          <div class="col-md-3">
            <div>
              <div class="row rounded-div">
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-book fa-lg  clr1"></i></div>
                  <div class="align-center">1500</div>
                  <div><span class="left-icons-multiple">Reads</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-lg  fa-heart-o clr2" aria-hidden="true"></i></div>
                  <div class="align-reads">90</div>
                  <div><span class="left-icons-multiple">Likes</span></div>
                </div>
                <div class="col-4 sub-div-margin">
                  <div class="align-bookimg"><i class="fa fa-share  fa-lg  clr1"></i></div>
                  <div class="align-reads">450</div>
                  <div><span class="left-icons-multiple">Shares</span></div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 align-center">
                  <div class="rating">Rating</div>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                  <i class="fa fa-star star-icon"></i>
                </div>
                <div class="col-6">
                  <button class="open-btn color-blue">Open</button>
                </div>
              </div>
            </div>
            <div></div>
          </div>


        </div>
        <div class="center load-more">Load More...</div>
      </div>

    </div>
  </div>



</div>
