<div class="container-fluid">
  <!-- header -->

  <div class="row">
    <div class="col-md-3">
      <button type="button" class="logo-btn">My Desk</button>
    </div>

    <!-- <div class="col-md-9 right right-header pull-right">
      <div class="my-desk-heading background-light-pink">
        <p>
          <span class="color-pink">I'm</span> writing...<span class="col-blue">500</span>
        </p>
      </div>
    </div> -->
    <div class="col-md-9 font-apply">
      <div class="my-desk-heading background-light-pink">
        <h3 class="col-blu-updated desk-9">I'm Writing on... 500</h3>
      </div>
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-user-sidebar></app-user-sidebar>
    </div>
    <!-- First ROW -->
    <div class="col-md-9 font-apply">
      <!-- <div class="my-desk-heading background-light-pink">
        <h3 class="col-blu-updated">I'm Writing on... 500</h3>
      </div> -->

      <div class="row">
        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/5.jpg" class="img-writing">
              <div class="text-right desk-right-bar">
                <img src="assets/images/Icons.svg" class="">
                <img src="assets/images/Group 561.svg" class="share-img-desk">
              </div>
              <div class="logo-publisher">
                <span> Publisher</span>
                <img src="assets/images/publisher.svg"> <span>Daniel</span>
              </div>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>

        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/5.jpg" class="img-writing">
              <div class="text-right desk-right-bar">
                <img src="assets/images/Icons.svg" class="">
                <img src="assets/images/Group 561.svg" class="share-img-desk">
              </div>
              <div class="logo-publisher">
                <span> Publisher</span>
                <img src="assets/publisher.svg"> <span>Daniel</span>
              </div>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>

        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/5.jpg" class="img-writing">
              <div class="text-right desk-right-bar">
                <img src="assets/images/Icons.svg" class="">
                <img src="assets/images/Group 561.svg" class="share-img-desk">
              </div>
              <div class="logo-publisher">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>
      </div>

      <div class="no-below-item">
        <p> <i class="fa fa-chevron-left right-btm-arrow" aria-hidden="true"></i>
          <span class="color-pink"> 3 </span>/ 10 <i class="fa fa-chevron-right left-btm-arrow" aria-hidden="true"></i>
        </p>
      </div>

      <!------ Second ROW ------>

      <div class="my-desk-heading second-heading background-light-pink">
        <h3 class="col-blu-updated desk-9">I'm Reading... 500</h3>
      </div>

      <div>
        <div class="row">
          <div class="col-md-4  main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img src="assets/images/5.jpg" class="img-writing">

                <div class="text-right desk-right-bar">
                  <img src="assets/images/Icons.svg" class="">

                  <img src="assets/images/HEART.svg" class="share-img-desk">
                  <img src="assets/images/BOKMRK.svg" class="share-img-desk-2">
                </div>
                <div class="text-left left-sidesection-2">
                  <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span
                    class="spanreads-val">1500</span>
                  <p class="reads-right-reads">Reads</p>
                </div>

                <div class="logo-publisher logo-publisher-2">
                  <span> Publisher</span>
                  <img src="assets/publisher.svg"> <span>Daniel</span>
                </div>
                <p>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>

                </p>
              </div>
              <div class="col-7 head-separete-sec">
                <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                  graphic or web designs. The passage is attributed to an unknown typesetter in
                  the 15th century who is thought to have scrambled parts of.
                  the 15th century who is thought to have scrambled parts of.


                </p>
                <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
                <label class="right-writeting">Languages: <span>Englsih</span></label>
                <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
                <div class="center btn-read-wrinting"><button>Open</button></div>
              </div>

            </div>
          </div>

          <div class="col-md-4  main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img src="assets/images/5.jpg" class="img-writing">

                <div class="text-right desk-right-bar">
                  <img src="assets/images/Icons.svg" class="">

                  <img src="assets/images/HEART.svg" class="share-img-desk">
                  <img src="assets/imagesBOKMRK.svg" class="share-img-desk-2">
                </div>
                <div class="text-left left-sidesection-2">
                  <img src="assets/images/reads-book.svg" class="share-img-desk bokkbtm"><span
                    class="spanreads-val">1500</span>
                  <p class="reads-right-reads">Reads</p>
                </div>

                <div class="logo-publisher logo-publisher-2">
                  <span> Publisher</span>
                  <img src="assets/publisher.svg"> <span>Daniel</span>
                </div>
                <p>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>

                </p>
              </div>
              <div class="col-7 head-separete-sec">
                <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                  graphic or web designs. The passage is attributed to an unknown typesetter in
                  the 15th century who is thought to have scrambled parts of.
                  the 15th century who is thought to have scrambled parts of.


                </p>
                <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
                <label class="right-writeting">Languages: <span>Englsih</span></label>
                <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
                <div class="center btn-read-wrinting"><button>Open</button></div>
              </div>

            </div>
          </div>

          <div class="col-md-4  main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img src="assets/images/slicing/5.jpg" class="img-writing">

                <div class="text-right desk-right-bar">
                  <img src="assets/Icons.svg" class="">

                  <img src="assets/HEART.svg" class="share-img-desk">
                  <img src="assets/BOKMRK.svg" class="share-img-desk-2">
                </div>
                <div class="text-left left-sidesection-2">
                  <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span
                    class="spanreads-val">1500</span>
                  <p class="reads-right-reads">Reads</p>
                </div>

                <div class="logo-publisher logo-publisher-2">
                  <span> Publisher</span>
                  <img src="assets/header-logos.svg "> <span>Daniel</span>
                </div>
                <p>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>

                </p>
              </div>
              <div class="col-7 head-separete-sec">
                <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                  graphic or web designs. The passage is attributed to an unknown typesetter in
                  the 15th century who is thought to have scrambled parts of.
                  the 15th century who is thought to have scrambled parts of.


                </p>
                <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
                <label class="right-writeting">Languages: <span>Englsih</span></label>
                <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
                <div class="center btn-read-wrinting"><button>Open</button></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="no-below-item">
        <p> <i class="fa fa-chevron-left right-btm-arrow" aria-hidden="true"></i>
          <span class="color-pink"> 3 </span>/ 10 <i class="fa fa-chevron-right left-btm-arrow" aria-hidden="true"></i>
        </p>
      </div>

      <!------ Third ROW ------>

      <div class="my-desk-heading second-heading background-light-pink">
        <h3 class="col-blu-updated desk-9">My Bookmarks 500</h3>
      </div>

      <div>
        <div class="row">
          <div class="col-md-4  main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img src="assets/images/slicing/5.jpg" class="img-writing">

                <div class="text-right desk-right-bar">
                  <img src="assets/Icons.svg" class="">

                  <img src="assets/HEART.svg" class="share-img-desk">
                  <img src="assets/BOKMRK.svg" class="share-img-desk-2">
                </div>
                <div class="text-left left-sidesection-2">
                  <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span
                    class="spanreads-val">1500</span>
                  <p class="reads-right-reads">Reads</p>
                </div>

                <div class="logo-publisher logo-publisher-2">
                  <span> Publisher</span>
                  <img src="assets/header-logos.svg "> <span>Daniel</span>
                </div>
                <p>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>

                </p>
              </div>
              <div class="col-7 head-separete-sec">
                <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                  graphic or web designs. The passage is attributed to an unknown typesetter in
                  the 15th century who is thought to have scrambled parts of.
                  the 15th century who is thought to have scrambled parts of.


                </p>
                <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
                <label class="right-writeting">Languages: <span>Englsih</span></label>
                <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
                <div class="center btn-read-wrinting"><button>Open</button></div>
              </div>

            </div>
          </div>

          <div class="col-md-4  main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img src="assets/images/slicing/5.jpg" class="img-writing">

                <div class="text-right desk-right-bar">
                  <img src="assets/Icons.svg" class="">

                  <img src="assets/HEART.svg" class="share-img-desk">
                  <img src="assets/BOKMRK.svg" class="share-img-desk-2">
                </div>
                <div class="text-left left-sidesection-2">
                  <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span
                    class="spanreads-val">1500</span>
                  <p class="reads-right-reads">Reads</p>
                </div>

                <div class="logo-publisher logo-publisher-2">
                  <span> Publisher</span>
                  <img src="assets/header-logos.svg "> <span>Daniel</span>
                </div>
                <p>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>

                </p>
              </div>
              <div class="col-7 head-separete-sec">
                <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                  graphic or web designs. The passage is attributed to an unknown typesetter in
                  the 15th century who is thought to have scrambled parts of.
                  the 15th century who is thought to have scrambled parts of.


                </p>
                <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
                <label class="right-writeting">Languages: <span>Englsih</span></label>
                <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
                <div class="center btn-read-wrinting"><button>Open</button></div>
              </div>

            </div>
          </div>

          <div class="col-md-4  main-item">
            <div class="row back-shadow back-red">
              <div class="col-5 pad-zero center">
                <img src="assets/images/slicing/5.jpg" class="img-writing">

                <div class="text-right desk-right-bar">
                  <img src="assets/Icons.svg" class="">

                  <img src="assets/HEART.svg" class="share-img-desk">
                  <img src="assets/BOKMRK.svg" class="share-img-desk-2">
                </div>
                <div class="text-left left-sidesection-2">
                  <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span
                    class="spanreads-val">1500</span>
                  <p class="reads-right-reads">Reads</p>
                </div>

                <div class="logo-publisher logo-publisher-2">
                  <span> Publisher</span>
                  <img src="assets/header-logos.svg "> <span>Daniel</span>
                </div>
                <p>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>
                  <i class="fa fa-star star-icons"></i>

                </p>
              </div>
              <div class="col-7 head-separete-sec">
                <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
                <p class="main-item-p">
                  Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                  graphic or web designs. The passage is attributed to an unknown typesetter in
                  the 15th century who is thought to have scrambled parts of.
                  the 15th century who is thought to have scrambled parts of.


                </p>
                <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
                <label class="right-writeting">Languages: <span>Englsih</span></label>
                <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
                <div class="center btn-read-wrinting"><button>Open</button></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="no-below-item">
        <p> <i class="fa fa-chevron-left right-btm-arrow" aria-hidden="true"></i>
          <span class="color-pink"> 3 </span>/ 10 <i class="fa fa-chevron-right left-btm-arrow" aria-hidden="true"></i>
        </p>
      </div>

      <!------ Fourth ROW ------>

      <div class="my-desk-heading second-heading background-light-pink">
        <h3 class="col-blu-updated desk-9">My Submissions 500</h3>
      </div>

      <div class="row">
        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/slicing/5.jpg" class="img-writing">

              <div class="logo-publisher">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>

        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/slicing/5.jpg" class="img-writing">

              <div class="logo-publisher">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>

        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/slicing/5.jpg" class="img-writing">

              <div class="logo-publisher">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>
      </div>

      <div class="no-below-item">
        <p> <i class="fa fa-chevron-left right-btm-arrow" aria-hidden="true"></i>
          <span class="color-pink"> 3 </span>/ 10 <i class="fa fa-chevron-right left-btm-arrow" aria-hidden="true"></i>
        </p>
      </div>

      <!------ Fifth ROW ------>

      <div class="my-desk-heading second-heading background-light-pink">
        <h3 class="col-blu-updated desk-9">Published </h3>
      </div>

      <div class="row">
        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/slicing/5.jpg" class="img-writing">

              <div class="text-right desk-right-bar">
                <img src="assets/Icons.svg" class="">

                <img src="assets/HEART.svg" class="share-img-desk">
                <img src="assets/BOKMRK.svg" class="share-img-desk-2">
              </div>
              <div class="text-left left-sidesection-2">
                <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span class="spanreads-val">1500</span>
                <p class="reads-right-reads">Reads</p>
              </div>

              <div class="logo-publisher logo-publisher-2">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
              <p>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>

              </p>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>

        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/slicing/5.jpg" class="img-writing">

              <div class="text-right desk-right-bar">
                <img src="assets/Icons.svg" class="">

                <img src="assets/HEART.svg" class="share-img-desk">
                <img src="assets/BOKMRK.svg" class="share-img-desk-2">
              </div>
              <div class="text-left left-sidesection-2">
                <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span class="spanreads-val">1500</span>
                <p class="reads-right-reads">Reads</p>
              </div>

              <div class="logo-publisher logo-publisher-2">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
              <p>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>

              </p>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>

        <div class="col-md-4  main-item">
          <div class="row back-shadow back-red">
            <div class="col-5 pad-zero center">
              <img src="assets/images/slicing/5.jpg" class="img-writing">

              <div class="text-right desk-right-bar">
                <img src="assets/Icons.svg" class="">

                <img src="assets/HEART.svg" class="share-img-desk">
                <img src="assets/BOKMRK.svg" class="share-img-desk-2">
              </div>
              <div class="text-left left-sidesection-2">
                <img src="assets/reads-book.svg" class="share-img-desk bokkbtm"><span class="spanreads-val">1500</span>
                <p class="reads-right-reads">Reads</p>
              </div>

              <div class="logo-publisher logo-publisher-2">
                <span> Publisher</span>
                <img src="assets/header-logos.svg "> <span>Daniel</span>
              </div>
              <p>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>
                <i class="fa fa-star star-icons"></i>

              </p>
            </div>
            <div class="col-7 head-separete-sec">
              <h6> ONE NOVALIST APPROACH <span>EUZABETH GEORGE</span></h6>
              <p class="main-item-p">
                Lorem lipsum as it is sometimes known, is dummy text used in laying out print,
                graphic or web designs. The passage is attributed to an unknown typesetter in
                the 15th century who is thought to have scrambled parts of.
                the 15th century who is thought to have scrambled parts of.


              </p>
              <label class="right-writeting">Genres: <span>classic, Fantasy</span></label>
              <label class="right-writeting">Languages: <span>Englsih</span></label>
              <label class="right-writeting">Closing Date: <span>Jan 20,2020</span></label>
              <div class="center btn-read-wrinting"><button>Open</button></div>
            </div>

          </div>
        </div>
      </div>

      <div class="no-below-item">
        <p> <i class="fa fa-chevron-left right-btm-arrow" aria-hidden="true"></i>
          <span class="color-pink"> 3 </span>/ 10 <i class="fa fa-chevron-right left-btm-arrow" aria-hidden="true"></i>
        </p>
      </div>
    </div>

  </div>

</div>
