<div class="container-fluid pad-zero-profile">
  <!-- header -->

  <div class="row pad-zero">
    <div class="col-md-3 pad-zero">
      <button type="button" class="logo-btn">My Desk</button>
    </div>

    <div class="col-md-9 right right-header pull-right">
      <div class="background-light-pink my-desk-heading">
        <p class="my-desk-heading-name">
          <span class="color-pink">He</span>llo! Ricky Pointing
          <span class="col-blue">{{ count || '' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pad-zero-profile">
  <div class="row">
    <div class="col-md-3">
      <app-user-sidebar></app-user-sidebar>
    </div>
    <div class="col-md-9">
      <div class="container-fluid pad-zero-profile list-view-my-desk">
        <div class="parts">
          Part A:<span class="col-gray-part clr-blk"> (25%)</span>
        </div>
        <form role="form" [formGroup]="editForm">
          <div class="edit-form-align background-light-pink">
            <div class="row field-size">
              <div class="col-5">
                <span>First/Middle Name</span>
                <input type="text" formControlName="firstName" value="Ricky" />
              </div>
              <div class="col-5">
                <span>Last Name</span>
                <input type="text" placeholder="Pointing" formControlName="lastName" />
              </div>
              <div class="col-2"></div>
              <div class="clearfix"></div>
              <div class="col-md-3">
                <span>a.k.a</span>
                <input type="text" class="select-one" placeholder="... ... ... ..." formControlName="displayName" />
              </div>

              <div class="col-md-9 row mar-zero">
                <div>
                  <h6 class="display-this">Display this</h6>
                </div>

                <div class="radio-cont">
                  <div class="first-rad">
                    <input type="radio" class="profile-radio" id="aka" value="true"
                      formControlName="selectDisplayName" />
                    <label>a.k.a</label>

                  </div>

                  <div class="second-rad">
                    <input type="radio" class="profile-radio" id="firstname" value="false"
                      formControlName="selectDisplayName" />
                    <label>First/Middle Name</label>
                  </div>
                </div>

                <!-- <div class="radio-cont">
                  <input
                    type="radio"
                    class="radioss"
                    id="aka"
                    formControlName="selectDisplayName"
                    value="aka"
                  />
                </div>
                <div>
                  <label for="aka">aka</label>
                </div>
                <div class="radio-cont">
                  <input
                    type="radio"
                    id="firstname"
                    formControlName="selectDisplayName"
                    value="firstname"
                  />
                </div>
                <div>
                  <label for="aka">First/Middle Name</label>
                </div> -->
              </div>

              <div class="clearfix"></div>

              <div class="col-md-10">
                <span>About me:</span>
                <textarea formControlName="aboutInfo" class="about-me-textarea"
                  placeholder="Let everyone Know a little bit about yourself"></textarea>
              </div>
              <div class="col-md-2"></div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="edit-form-align background-light-pink">
            <div class="row field-size">
              <div class="col-5">
                <span>DOB:</span>
                <input type="date" formControlName="dob" placeholder="&#xf073;"
                  style="font-family: Arial, FontAwesome;" />
                <span>Gender:</span>
                <select formControlName="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="col-5">
                <span>Email ID:</span>
                <input type="text" placeholder="Pointing" formControlName="email" />
              </div>
              <div class="col-2"></div>
              <div class="col-5">
                <span>Mobile No:</span>
                <input type="text" formControlName="mobile" />
              </div>
              <div class="col-5">
                <span>Landline:</span>
                <input type="text" formControlName="landline" />
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>

          <div class="my-desk-heading background-light-pink parent-g-detail">
            <p><span class="color-pink">Pa</span>rent/Guardian Details:</p>
          </div>

          <div class="edit-form-align background-light-pink">
            <div class="row field-size">
              <div class="col-5">
                <span>Relations:</span>
                <select formControlName="guardian">
                  <option value="Father">Father</option>
                  <option value="Mother">Mother</option>
                </select>
              </div>
              <div class="col-5"></div>
              <div class="col-md-2"></div>

              <div class="col-5">
                <span>First Name:</span>
                <input type="text" value="Ricky" formControlName="guardianFirstName" />
                <span>DOB:</span>
                <input type="date" formControlName="guardianDob" />
                <span>Mobile No:</span>
                <input type="text" formControlName="guardianMobile" />
              </div>
              <div class="col-5">
                <span>Last Name:</span>
                <input type="text" placeholder="Pointing" formControlName="guardianLastName" />
                <span>Email ID:</span>
                <input type="text" placeholder="... ... ..." formControlName="guardianEmail" />
                <span>LandLine:</span>
                <input type="text" placeholder="... ... ..." formControlName="guardianLandline" />
              </div>
              <div class="col-2"></div>
            </div>
          </div>
          <div class="parts">
            Part B:<span class="col-gray-part">(25%)</span>
          </div>

          <div class="edit-form-align background-light-pink">
            <div class="row field-size">
              <div class="col-10">
                <span>School:</span>
                <select formControlName="school" placeholder="select">
                  <option value=""></option>
                </select>
              </div>
              <div class="col-md-2"></div>
              <div class="col-5">
                <span>Class:</span>
                <input type="text" placeholder="... ... ... ..." formControlName="class" />
              </div>
              <div class="col-5">
                <span>Section:</span>
                <input type="text" placeholder="... ... ... ..." formControlName="section" />
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>

          <div class="parts">
            Part C:<span class="col-gray-part">(25%)</span>
          </div>

          <div class="my-desk-heading background-light-pink so-icons">
            <p>
              <span class="color-pink">So</span>cial Media Links:
              <i class="fa fa-facebook left-bar-btmss"></i>
              <i class="fa fa-instagram left-bar-btmss"></i>
              <i class="fa fa-twitter left-bar-btmss"></i>
              <i class="fa fa-linkedin left-bar-btmss"></i>
              <i class="fa fa-google-plus left-bar-btmss"></i>
            </p>
            <h6 class="add-social">+ Add Social Media</h6>
            <p></p>
          </div>

          <div class="parts">
            Part D:<span class="col-gray-part">(25%)</span>
          </div>

          <div class="edit-form-align background-light-pink">
            <div class="row field-size">
              <div class="col-10">
                <span>Address:</span>
                <input type="text" placeholder="... ... ... ..." formControlName="address" />
              </div>
              <div class="col-md-2"></div>

              <div class="col-10">
                <input type="text" placeholder="... ... ... ..." formControlName="address2" class="address-2" />
              </div>

              <div class="col-md-2"></div>

              <div class="col-6">
                <span>Landmark</span>
                <input type="text" placeholder="... ... ... ..." formControlName="address" />
              </div>

              <div class="col-md-6"></div>

              <div class="col-5">
                <span>Country::</span>
                <select formControlName="country">
                  <option></option>
                  <option></option>
                </select>
                <span>City:</span>
                <select formControlName="city">
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="col-5">
                <span>State:</span>
                <select formControlName="state">
                  <option></option>
                  <option></option>
                </select>
                <span>Pin/Zip Code:</span>
                <select formControlName="zipCode">
                  <option></option>
                  <option></option>
                </select>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>

          <div class="edit-form-align pad-top-btns">
            <div class="row field-size">
              <div class="col-5 text-right">
                <button class="cancl-btn-edit" routerLink="/user-profile/my-desk">
                  Cancel
                </button>
              </div>
              <div class="col-5">
                <button class="update-edit" (click)="onSubmit()">
                  Update
                </button>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
